[submodule "packages/services/arbitrum"]
	path = packages/services/arbitrum
	url = https://github.com/OffchainLabs/arbitrum
[submodule "packages/services/optimism"]
	path = packages/services/optimism
	url = https://github.com/ethereum-optimism/optimism
