# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

node_modules

## Hardhat files ##
packages/hardhat/*.txt
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/deployments

## Frontend Files ##
# testing
packages/frontend/coverage
# next.js
packages/frontend/.next/
packages/frontend/out/
# production
packages/frontend/build
# contracts
# packages/frontend/artifacts/*
