[submodule "packages/arbitrum"]
	path = packages/arbitrum
	url = https://github.com/OffchainLabs/arbitrum
[submodule "packages/optimism"]
	path = packages/optimism
	url = https://github.com/ethereum-optimism/optimism
