packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis
packages/hardhat/*.txt
**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules
packages/hardhat/artifacts
packages/hardhat/deployments
packages/react-app/src/contracts
packages/hardhat/cache

docker/**/data

packages/subgraph/config/config.json
tenderly.yaml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
