html {
    min-height: 100vh;

    #__next {
        min-height: 100vh;
        
        & > div {
            min-height: 100vh;
        }
    }
}

#__next > div {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    main {
        flex: 1;
    }
}

.image-grid {
    display: grid;
    grid-gap: .6rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    grid-auto-flow: dense;

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}