.App {
  text-align: center;
}

/* scrollbar style */
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  outline: 1px solid #708090;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
}
