.loogies {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f5f5f5;
  padding-top: 40px;
}

@media screen and (min-width: 1440px) {
  .loogies {
    padding-left: 120px;
    padding-right: 120px;
  }
}
