.your-loogies {
  padding-left: 20px;
  padding-right: 20px;
}

.your-loogies__title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 12px;
  line-height: 1.2;
}

.your-loogies__description {
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .your-loogies__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .your-loogies {
    padding-left: 120px;
    padding-right: 120px;
  }
}
