.numbering {
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    background: #000;
    padding: .2rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    font-weight: bold;
}