@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.action-button {
	display:  block !important;
	margin: 4px auto 4px;
}

.fancy-loogie-action-button {
	width: 250px;
}

.action-inline-button {
	margin-left: 10px;
}

.header {
	padding-top: 50px;
}

.header h1 {
	display: inline;
	font-family: 'Pacifico', cursive;
	font-size: 80px;
	color: #2ea8af;
	vertical-align: top;
}

.footer {
	margin-top: 32px;
	opacity: 0.5;
	font-size:  20px;
}

.footer span {
	margin: 5px;
}

.footer .address span {
	margin: 0;
}

.footer .sub {
	font-size: 14px;
}

.nft-image {
	height: 200px;
	overflow: hidden;
}

.nft-image img {
	margin-top: -90px;
}

.fancy-loogie-preview {
	position: sticky;
	top: 60px;
	margin-right: 20px;
}

#root .ant-tabs-tab {
	margin: 16px 0 0 0;
}

#root .fancy-loogie-preview .ant-tabs-tab {
	margin: 0 20px 0 0;
}

#root .tab-debug .ant-tabs-tab {
	margin-right: 20px;
}

.tab-item .ant-badge-count {
	background-color: #1890ff;
}

.tab-item .ant-badge {
	margin-top: 6px;
}