html {
    min-height: 100vh;

    #__next {
        min-height: 100vh;
        
        & > div {
            min-height: 100vh;
        }
    }
}

#__next > div {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    .main {
        flex: 0;
    }
}