.nav-link {
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: var(--chakra-radii-md);
    font-weight: var(--chakra-fontWeights-semibold);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: .7rem;
        height: .15rem;
    }

    &.btn-black {
        &::before {
            background: #fff;
        }
    }
    &.btn-white {
        &::before {
            background: #000;
        }
    }
}