#WEB3_CONNECT_MODAL_ID {
  z-index: 999;
  position: absolute;
}

#ACCOUNT_HEADER_ID {
  z-index: 900;
}

.artist_blockie {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #b5b5b5, 0 0 0 1px #b5b5b5;
  padding: 5px;
}

.avatar-uploader {
  width: auto;
}

/* Antd Overrides */
.ant-btn-lg {
  font-weight: 500;
}
.ant-btn-round.ant-btn-lg {
  border-radius: 6px;
}

/* Utilities */
.container {
  margin: 0 auto;
  padding: 0 40px;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}
