.App {
  text-align: center;
}

.ant-image-img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.ant-ribbon.ant-ribbon-placement-end {
  top: 70px;
}

.full-width * {
  width: 100%;
}


.full-width a {
  color: #1890ff;
}