.App {
  text-align: center;
}

@font-face {
  font-family: NotoSans;
  src: url("NotoSans-Black.ttf");
}

body {
  margin: 0;
  background-image: url(assets/background.png);
  font-family: NotoSans;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h2,
h3,
h4 {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.claim-button,
.claim-button:hover,
.claim-button:active,
.claim-button:focus {
  background: url(assets/button.png) no-repeat top left;
  width: 150px;
  height: 73px;
  font-size: 22px;
  border: none;
  margin-top: 15px;
}

.payment-confirmation {
  width: 500px;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 40px;
}
