body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.footer {
  margin-top: 32px;
  opacity: 0.8;
  font-size:  20px;
}

#footer span {
  margin: 5px;
}

#footer .address span {
  margin: 0;
}

.fancy-loogie-preview {
  margin: 0 auto;
}

.fancy-loogie-preview .ant-card {
  margin: 0 auto;
}

.fancy-loogie-preview .ant-card-body {
  display: flex;
}

.fancy-loogie-preview .ant-alert {
  text-align: left;
}

#tabs-accesories > .ant-tabs-nav .ant-tabs-tab {
  margin: 16px 0 0 0;
}

.action-inline-button {
  margin-left: 10px;
}

.fancy-loogie-action-button {
  width: 250px;
}

.your-fancy-loogies .ant-dropdown-trigger {
  margin-left: 10px;
}

.ant-tabs-extra-content {
  flex: 1 1 auto;
  width:  220px;
  text-align: left;
}

.fancy-loogie-preview .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #e6f7ff;
}

.nft-image img.preview:hover {
  cursor: pointer;
}

.nonselected-roboto img:hover, .selected-roboto img:hover {
  cursor: pointer;
}

.selected-roboto {
  background-color: lightyellow;
}
